@import "../style.scss";

.u-sideMenu {
    width: 16vw !important;
    height: 100% !important;
    color: $blue !important;
    border-color: #CCD3DC !important;
    background-color: $white !important;

    .v-navigation-drawer__content {
        overflow-y: hidden !important;
    } 
}


.u-menu-active{
    background:  $white-gray !important;
    color: $blue;
}


.u-sideMenu-Panel{
    .v-list-item--active{
        opacity: 1 !important;
        background: white !important;
    }
    
}
