@import "../style.scss";

.u-header {
    
    line-height: 1rem;

    .u-title-background-danger {
      padding-right: 1%;
      background: $red !important;
      font-style: $white !important;
      font-size: 1.35rem !important;
      border-radius: 0.4rem !important;
      text-align:top !important;
      height: 70% !important;
      cursor: pointer;
    }

    .u-title-first {
      color: $white !important;
      font-weight: 38 !important;
      font-family: $type-1 !important;
      font-size: 2rem !important;
      text-align: left;
      margin-left: 0vw !important;
      margin-right: auto !important;
      margin-top: 1.5vh !important;
      margin-bottom: auto !important;
    }

    .u-title-second {
      color: $white !important;
      font-weight: 33 !important;
      font-family: $type-1 !important;
      font-size: 1.35rem !important;
    }

    .u-searchBar {
      background-color: $white !important;
      border-radius: 0.4rem !important;
      margin-right: 1.2vw !important;
      margin-top: 1.5vw !important;
      margin-bottom: 1.5vw !important;
      height: 50% !important;
      color: $white !important;
      .v-input__control {
        min-height: inherit !important;
      }
    }

    .u-question {
      width: 3.5vw !important;
      margin-right: 1.2vw !important;
      font-size: 2rem !important;
      align-content: center !important;
    }

    .u-avatar {
      width: 3.5vw !important;
    }
}

.u-dialog-content {
  background-color: #212121;
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: inherit;
  transition-delay: inherit;
  transition-delay: 150ms;
  width: 100%;
  display: none;
}


// Pop UP
.u-popup{
    font-family: $type-1 !important;
  .person-name{
    color : $black !important; 
  }
  .person-post{
    color : $light-gray!important; 
  }
  .u-link{
    color : $red  !important;
  }

  .u-list-item{
    border-top : 1px solid $white-gray;
  }
  .u-section-item{
    background-color: $white-blue !important;
    color : $black !important; 
    text-transform: uppercase;
  }
  .u-sub-item{
    padding-left: 30px;
    color: $gray-blue !important;
  }
  
}
