@import "../style.scss";

.v-data-footer{
    display: none !important;
}
.pagination-number{
    font-family: $type-1 !important;
    margin-left: 2%;
    cursor: pointer;
}

#all-institutions-table{
    th:first-child{
        width: 25% !important;
    }
}

.u-page-active{
    color : red !important;

}