@import "../style.scss";

.cercle{
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    background:rgba(223, 128, 128, 0.22);
    padding:5%;
    align-content: center !important;
    vertical-align: middle !important;
}

#img-login{
    height: 90%;
    width: 90%;
    margin: 5%;
} 
  
