.control-label{
    font-weight: 600 !important;
    color: $dark-blue !important;
    font-family: $type-1 !important;
    text-align: left;
    font-size: 1.1rem;
}
.control-label-data{
    color: $mid-gray-blue !important;
    font-family: $type-1 !important;
    text-align: left;
}