.u-table{
    .v-data-table__wrapper table{
        *{
            font-family: $type-1 !important;
        }
    }
}

.u-table-primary{
    .v-data-table__wrapper table{
        th:not(:last-child){
            text-align: left;
        }
        th:last-child{
            text-align: center;
        }
        thead tr th span{
            line-height: 1.2rem;
            font-size: 1.1rem;
            font-weight: 500;
            color: $dark-blue !important;
        }
        tbody tr{
            border-bottom-color: $white-gray !important;
            
            td{
                color: $light-gray !important;
                line-height: 1.2rem;
                font-size: 0.9rem;
                text-align: left;
                border-bottom-color: $white-gray !important;
            }
            a{
                color: $light-gray !important;
                line-height: 1.2rem;
                font-size: 0.9rem;
                text-align: left;
                text-decoration: none;
            }
        }

    }
}

.u-table-bordered-primary{
    border : 2px solid $white-gray;
}