/* Utilities */

/* ----------------- Width ----------------- 
/* -------------------------------------------- */
.width-80-p{
    width: 80%;
}

/* ----------------- Paddings ----------------- 
/* -------------------------------------------- */
.no-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.no-padding-top{
    padding-top: 0 !important;
}

.padding-middle-10-p{
    padding-left: 10% !important;
    padding-right: 10% !important;
}
.padding-top-2-p{
    padding-top: 2% !important;
}
.padding-top-5-p{
    padding-top: 5% !important;
}


/* ----------------- Margins ----------------- 
/* -------------------------------------------- */

/* Top -----------------  */
.margin-top-1-p{
    margin-top: 1%!important;
}

.margin-top-2-p{
    margin-top: 2%!important;
}

/* Left -----------------  */
.margin-left-5-p{
    margin-left: 5%!important;
}
/* Right -----------------  */
.margin-right-2-p{
    margin-right: 2%!important;
}
.margin-right-5-p{
    margin-right: 5%!important;
}

/* ----------------- HR ----------------- 
/* -------------------------------------------- */
hr.u-hr{
    width: 25%;
    height: 2px;
    margin-top: 5%;
    margin-bottom: 5%;
}
hr.u-hr-small{
    width: 5%;
    height: 2px;
    margin-top: 5%;
    margin-bottom: 2%;
}
hr.u-hr-red{
    background: $red;
    border :$red;
}

/* ----------------- Anchors ----------------- 
/* -------------------------------------------- */
a.u-link{
    color: $blue !important;
    font-family: $type-1 !important;
}

/* ----------------- Float ----------------- 
/* -------------------------------------------- */
.pull-right{
    float: right !important;
}

.pull-left{
    float: left !important;
}
.text-right{
    text-align: right !important;
}
.u-cursor{
    cursor: pointer !important;
}